body{
	background-color: #1abc9c;
	/*background-color: #FC0F3E;	*/
}
h1{
	font-size: 40px;
}
.logo{
	text-align: center;
	color: #ecf0f1;
	font-size: 4em;
	font-weight: 900;
	text-shadow: 1px 1px #0a2d43,2px 2px #0a2d43,3px 3px #0a2d43,4px 4px #0a2d43,5px 5px #0a2d43,6px 6px #0a2d43,7px 7px #0a2d43,8px 8px #0a2d43,9px 9px #0a2d43,10px 10px #0a2d43;
	text-transform: uppercase;
	margin-bottom: .2em;
}
#facebook{
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -50px;
	margin-left: -175px;
}
.center{
	text-align: center;
}
.hide{
	display: none !important;
	visibility: hidden !important;
}
.player
{
	display: table;
	width: 100%;
	margin-top: -12px;
}
.player-buttons {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}
.prev:hover {
	cursor: pointer;
	cursor: hand;	
}
.play:hover {
	cursor: pointer;
	cursor: hand;
}
.next:hover {
	cursor: pointer;
	cursor: hand;
}
.pause:hover {
	cursor: pointer;
	cursor: hand;
}
#hotbox{
	padding-top: 30px;
	color: #fff;
}
.title{
	font-size: 14px;
	color: #fff !important;
	font-weight: 500;
	padding-top: 20px;
	color: #2c3e50;
}
.track-time{
	margin-top: -5px;
	font-size: 14px;
	color: #fff !important;
	font-weight: 100;
	color: #2c3e50;
}
.progress{
	height: 2px;
}
.progress-bar{
	height: 2px;
}
.progress-uploader{
	height: 8px !important;
	margin-top: 10px;
}
.progress-bar-uploader{
	height: 8px !important;
}
.upload{
	padding-top: 10px;
	padding-bottom: 20px;
}
.upload-local{player
}
.chat{
	padding-top: 40px;
}
#menu-tabs{
	padding-top: 0px;
}
.nav li a{
	font-size: 20px;
	font-weight: 300;
	color: #8e44ad;
}
.main{
	padding-top: 10px;
}

/* Chat css */
#messageList{
	min-height: 250px;
	max-height: 250px;
	background-color: #9b59b6;
	color: #fff;
	list-style: none;
	overflow-y: scroll;
}
#messageList li{
	margin-left: -20px;
	padding-top: 5px;
}
#messageContent{
	width: 100%;
}
.chat-welcome-text{
	font-size: 20px;
	text-align: center;
}

/* Profile css */
.username{
	font-weight: 900;
}
.level{
	color: #e74c3c;
	font-size: 50px;
}
.badges{
	font-size: 18px;
}
.songs-total{
	color: #16a085;
}
.achievements i{
	font-size: 30px;
	padding-top: 30px;
}

/* Playlist Styles */
.playlist-main{
	list-style: none;
	max-height: 350px;
	overflow: hidden;
	overflow-y: scroll;
}
.playlist-main li{
	font-size: 14px;
	color: #fff;
	min-height: 20px;
	margin-left: -40px;
	padding: 8px;
	background-color: #16a085;
	/*cursor: pointer;*/
}
.playlist-main li.active{
	background-color: #9b59b6;
}
.playlist-main li.resume{
	background-color: #3498db;
}
.playlist-main li.paused{
	background-color: #2c3e50;
}
.watermark{
	margin-left:auto; 
	margin-right:0px;
}
.white{
	color: #fff;
	margin-left:auto; 
	margin-right:0px;	
}

/* Scrollbar */
::-webkit-scrollbar {
	width: 8px;
}
::-webkit-scrollbar-track {
	background-color: #eaeaea;
	border-left: 1px solid #ccc;
}
::-webkit-scrollbar-thumb {
	background-color: #ccc;
}
::-webkit-scrollbar-thumb:hover {
	background-color: #aaa;
}
.footer{
	text-align: center;
}
.feedback-modal{
	background-color: #fff;
	font-size: 20px;
	min-height: 70%;
	min-width: 80%;
	padding: 10px;
}
#latency{
	color: #fff;
	text-align: center;
}
.feedback-link a{
	color: #ecf0f1;
	text-decoration: none;
}